// *

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ========== :ROOT ==========

:root {
  @include apply-font($font-general);
  
  /* color-scheme: light dark; */
  background-color: $Anti-Flash-White;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ========== GLOBAL TAGS AND CLASSES ==========

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  @include apply-font($font-heading);
}