.main_container {
    display: flex;
    border-radius: 1em;
    
    background-color: $White;
    box-shadow: 0 0 0.25em rgba(0,0,0, 0.25);

    width: 50%;
    min-height: 30vh;
    max-height: 100%;
    color: $Text-Black-Texts;
    font-size: 1rem;

    .image_container {
        flex-grow: 1;
        min-width: 20em;
        max-width: 25%;
        max-height: 100%;

        padding: 1em;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-height: 90%;
            max-width: 90%;
            width: auto;
            height: auto;
            object-fit: contain;
            display: block;
        }
    }

    .description {
        flex-grow: 2;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        padding: 1em 0;

        font-size: inherit;

        span {
            font-size: 1.5rem;
        }

        span:nth-of-type(1) {
            @include apply-font($font-heading);
            font-weight: 500;
        }

        span:nth-of-type(2) {
            font-size: 1.25em;
        }

        span:nth-of-type(3) {
            font-size: 1.25em;
        }

        span:nth-of-type(4) {
            font-size: 1.25em;
        }
    }
}
